<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" trspan="rule"></h3>
  </div>
  <table class="table">
    <tr>
      <th><span trspan="comment"></span></th>
      <td ng-if="currentNode.re!='default'"><input id="rulecomment" class="form-control" ng-model="currentNode.comment" ng-change="changeRuleTitle(currentNode)"/></td>
      <td ng-if="currentNode.re=='default'"><p><strong><span trspan="defaultRule"></span></strong></p></td>
    </tr>
    <tr>
      <th><span trspan="rule"></span></th>
      <td><input id="rule" class="form-control"ng-model="currentNode.re" ng-change="changeRuleTitle(currentNode)"/></td>
    </tr>
    <tr>
      <th><span trspan="message"></span></th>
      <td><textarea rows="3" id="rulemessage" class="form-control" ng-model="currentNode.data"/></td>
    </tr>
  </table>
</div>
<script type="text/menu">
[{
  "title": "newGrantRule",
  "icon": "plus-sign"
},{
  "title": "deleteEntry",
  "icon": "minus-sign"
}]
</script>
